<div style="min-height: 850px">
    <div class="row">
        <div class="col-md-2" style="padding: 20px;">
            <div>
                <div class="d-flex justify-content-center">
                    <img src="../../assets/user.png" class="rounded-circle" style="height: 100px; width:100px">
                </div>
                <div style="text-align: center; padding-bottom: 5px; color: #00887a;">
                    {{username}}
                </div>
                <div style="text-align: center; padding-bottom:20px; color:#007BFF; font-style: italic; font-weight: bold;">
                    @{{userData.id}}</div>
                <div class="sidebar">
                    <a routerLink="/tweets/dashboard" routerLinkActive="active">Dashboard</a>
                    <a routerLink="/tweets/settings" routerLinkActive="active">Settings</a>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>