<div class="container">
    <div class="tweet">
        <div class="row">
            <div class="col-md-3">
                <div class="tweet-info">
                    Post a tweet so that others can see what you are thinking!
                </div>
            </div>
            <div class="col-md-9">
                <form #Form="ngForm">
                    <div class="tweet-form">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="comment">write here</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" id="comment" [(ngModel)]="tweet.content" name="tweet" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal"
                                    (click)="postTweet()">Tweet</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <!-- Modal body -->
        <div class="modal-body">
          {{modalMessage}}
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">ok</button>
        </div>
        
      </div>
    </div>
  </div>
  


    <!-- timeline tweets -->
    <div class="container">
        <div class="card" style="padding: 17px;">
            <div class="row">
                <div class="col-md-1">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/user.png" class="rounded-circle" style="height: 50px; width:50px; ">
                    </div>
                </div>
                <div class="col-md-10">
                    <div>
                        <a href="" style="font-weight: bold;">User Name</a>
                        <a href=""
                            style="font-style: italic; color: brown; margin-left: 2%; margin-right: 2%;">@prosrkr</a>
                        • 3h ago
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam a laborum ad magnam esse
                        enim blanditiis quasi, nihil consequuntur maxime quia deserunt voluptas, quis voluptatibus
                        repellendus quaerat rem harum.
                    </div>
                    <div style="margin-top: 1%">
                        <b style="font-style: italic; cursor: pointer; color: #007bff;"
                            (click)="toggleCommentBox()">comment</b>
                        <b style="margin-left: 2%; font-style: italic; cursor: pointer; color: #007bff;"
                            (click)="seeComments()">see comments</b>
                    </div>
                </div>
            </div>
            <!-- comment box -->
            <div *ngIf="doCommentToggler" class="row" style="margin-top: 2%;">
                <div class="col-md-1">
                </div>
                <div class="col-md-11">
                    <form>
                        <div class="tweet-form">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="2" id="comment" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-outline-primary"
                                        (click)="replyComment()">comment</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- see comments -->
            <div *ngIf="seeCommentsToggler" class="row" style="margin-top: 2%;">
                <div class="col-md-2">
                </div>
                <!-- all comments -->
                <div class="col-md-8" style="background-color: rgb(166, 213, 214); padding: 1%; border-radius: 1%;">
                    <!-- single comment -->
                    <div *ngFor="let number of [0,1,2,3,4]" style="background-color:rgb(218, 228, 252); padding: 1%; margin:2%; font-size: small;">
                        <div>
                            <a href="" style="font-weight: bold;">Pitter Rouge</a>
                            <a href=""
                                style="font-style: italic; color: brown; margin-left: 2%; margin-right: 2%;">@pitrouge007</a>
                            • 3h ago
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. In numquam a laborum ad magnam esse
                            enim blanditiis quasi, nihil consequuntur maxime quia deserunt voluptas, quis voluptatibus
                            repellendus quaerat rem harum.
                        </div>
                        <div style="margin-top: 1%">
                            <b style="font-style: italic; cursor: pointer; color: #007bff;"
                                (click)="toCommentBox()">reply</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>